* {
  box-sizing: border-box;
}

body {
  background: rgba(173, 38, 151, 0.5)
}

h1,
h2 {
  text-align: center;
  padding: 1rem;
}

p {
  padding: 1rem;
  margin: 1rem;
}

#starthere {
  text-align: center;
  font-weight: bold;
  background-color: palegoldenrod;
  padding: 1rem;
  margin: .5rem 6rem;
  border-radius: 40%;
}

ul {
  margin-left: 10rem;
}

button {
  background-color: palegoldenrod;
  font-weight: bold;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 30%;
  padding: 1rem;
}

.step-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* setup an arrow pointer */
.arrow {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid green;
  border-bottom: 25px solid transparent;
  opacity: 0;
  transition: transform 1s;
}

/*Setup a display window to show the position details of the mouse as it moves */

.mouse-posn {
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  padding: 1rem;
  background: #bac;
}

.mouse-msg {
  border: solid 2px black;
  background-color: #def;
  text-align: center;
  padding: 1rem;
  margin: 5rem;
}